<footer>
  <small>
    <%= link_to 'Contact List. Todos os direitos reservados.', root_path %>
  </small>

  <nav>
    <ul>
      <li>
        <%= link_to 'Sobre', sobre_path %>
      </li>
      <li>
        <%= link_to 'Contato', contato_path %>
      </li>
      <% if !user_signed_in? %>
          <li>
            <%= link_to 'Entrar', entrar_path %>
          </li>      
      <% else %>
          <li>
            <%= link_to 'Sair', sair_path %>
          </li>
      <% end %>
    </ul>
  </nav>
</footer>